@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

body {
  font-family: 'Montserrat';
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  background: #f2f2f2;
}

.sosyal {
  padding: 5px 130px;
  font-size: 11px;
  background: #6787fe;
  color: white;
  text-shadow: 1px 1px 0px rgba(0,0,0,.4);
}

.header {
  overflow: hidden;
  background: #fdfdfd;
  padding: 25px 130px;
  border-bottom: 1px solid rgba(0,0,0,.2);
}

.header:after {
  z-index: 0;
  content: '';
  width: 550px;
  height: 68px;
  background: linear-gradient(to right, black, transparent);
  display: inline-table;
  position: absolute;
  right: 0%;
  top: 24px;
  opacity: .06;
  transform: skewX(-25deg);
}

.header .logo {
  color: black;
  text-decoration: none;
  float: left;
  opacity: .85;
  font-size: 14px;
  font-weight: 700;
}

.menu {
  position: absolute;
  right: 130px;
  z-index: 2;
}

.menu a {
  text-decoration: none;
  color: black;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.3px;
  opacity: .75;
  padding: 21px 10px;
  border-bottom: 4px solid transparent;
  transition: all 200ms;
}

.menu a:hover {
  opacity: 1;
  color: #577cff;
  border-color: #577cff;
}

.slider {
  background: rgba(0,0,0,.1);
  overflow: hidden;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.slider h1 {
  margin: 0 auto;
  background: transparent;
  opacity: .75;
  line-height: 35px;
  text-align: center;
  margin: 0;
  padding: 90px 0px;
}

.content {
  padding: 15px 130px;
  font-size: 13px;
  min-height: 600px;
}

.col {
  opacity: .75;
  width: 350px;
  margin: 0 auto;
  margin-top: 75px;
  text-align: center;
}

.col div {
  display: inline-block;
  margin: 15px 2px;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: black;
}

.col h2 {
  font-size: 25px;
  margin: 0;
  padding: 0;
}

.col p {
  letter-spacing: -0.5px;
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
}

.col i {
  color: #577cff;
}

.footer {
  margin-top: 75px;
  color: white;
  background: #353535;
  padding: 10px 130px;
}

.footer .logo {
  display: inline-block;
  line-height: 60px;
  font-size: 18px;
  padding-right: 20px;
  letter-spacing: -0.2px;
  font-weight: 600;
  border-right: 1px solid rgba(255,255,255,.21);
}

.footer .logo:before {
  content: '';
  width: 6px;
  height: 6px;
  margin-top: -3px;
  margin-right: 8px;
  display: inline-block;
  border-radius: 100%;
  background: white;
}

.footer i {
  opacity: .57;
  font-size: 13px;
  margin-left: 10px;
  font-style: normal;
}

.footer u {
  text-decoration: none;
  line-height: 60px;
  font-size: 13px;
  float: right;
  opacity: .57;
}

#slider {
  position: relative;
  overflow: hidden;
  margin: 0px auto;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 300px;
  background: #ccc;
  background-size: cover;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 28%;
  z-index: 999;
  display: block;
  padding: 4% 130px;
  width: auto;
  height: auto;
  background: transparent;
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.content > h1 {
  opacity: .75;
}

.dropdown {
  z-index: 999;
  display: none;
  padding: 10px 0px;
  position: absolute;
  margin-top: 15px;
  right: 320px;
  background: #202020;
  font-size: 12px;
  border-radius: 6px;
  transition: all 200ms;
}

.dropdown a {
  color: #ddd;
  text-decoration: none;
  display: block;
  padding: 8px 50px 8px 25px;
  transition: all 200ms;
}

.dropdown a:hover {
  background: rgba(255,255,255,.05);
  color: #fff;
}

#ders_notlari {
  right: 460px;
}
